@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body{
    /* font-family: 'Carter One', cursive; */
    font-family: 'Open Sans', sans-serif;
}
h1{
    text-align: center;
    color: white;
}

